body{
    background-color:white;
    /* background: linear-gradient(to right, #bec7ca, #e4e4d4); */
     /* background: url("image13.jpg"); */
     background-size: cover;
     font-family:'Arial, Helvetica, sans-serif';
     font-style: normal;
     
     
 }
 .card{
     /* background: url('image2.jpeg'); */
     max-width: 260px;
     padding: 60px;
     margin: 0 auto;
     background-color: rgba(200, 200, 220, 0.3);
     box-shadow:  0 0  4px 4px rgb(190, 210, 230);
     border-radius: 10px;
     position: relative;
     display: flex;
     flex-direction: column;
     font-weight: bold;
     
     

 }

 .input-group input {
     width: 90%;
     height: 15px;
     padding: 10px;
     border-radius: 6px;
     border: 2px solid ;
     outline: none;
  
     }
     /* .input-group input:focus{
      box-shadow:  0 0 3px 3px green; 
  outline: none;
     } */
 h2{
      padding-top: 100px;
      text-align: center;
      /* margin-left: 320px; */
 }

 button{
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: medium;
    border: none;
    background-color: blue;
   
 }
 .input-group .error{
    color: red;
    margin-top: 5px;
    font-size: 15px;
   
 }

 .input-group.success input{
    border-color: green;
    
 }
 /* .input-group.success input:focus{
   box-shadow:  0 0 0px 1px green; 

 } */

 .input-group.error input{
    border-color: red;
    
 }
 /* .input-group.error input:focus{
   box-shadow:  0 0 0px 1px red; 

 } */
